.content {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0px;
  left: 0px;
}

.center {
  text-align: center;
}

.no-margin {
  margin: 0;
}

.margin {
  margin-top: -20px;
  margin-bottom: 40px;
}

.title {
  text-align: center;
  margin-top: 25px;
}

.title-image {
  width: 400px;
}

.bigOlRedButton{
  text-align: center;
  font: 20px Impact, sans-serif;
  color: white;
  background-color: red;
  border-radius: 50%;
  font-size: 50px;
  padding: 40px 25px;
  border: 2px solid #8b0000;
}

.video {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.versionText {
  color: white;
  text-shadow: 2px 2px 8px black;
  font: 25px VCR OSD Mono, monospace;
}

.instructionText{
  color: white;
  font-size: 15px;
  margin-top: 50px;
  font: 15px VCR OSD Mono, monospace;
}

.instructionText2{
  color: white;
  font-size: 15px;
  margin-top: -25px;
  font: 15px VCR OSD Mono, monospace;
}

.contextText{
  color: white;
  padding-top: 200px;
  font: 25px VCR OSD Mono, monospace;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  background-color: black;
  padding: 20px;
}

body {
  background-color: black;
  color: white;
}